/* .card-img-top {
    width: 200px;
} */

/* .card {
    width: 18em;
    margin: auto;
} */

.img-thumbnail {
    max-width: 500px;
    max-height: 500px;
}

.rounded-circle {
    max-width: 100px;
    max-height: 100px;
}

.profile {
    max-width: 300px;
    max-height: 300px;
}

.like-btn {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}

.details-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}