<% layout('layouts/boilerplate')%>
<% for (user of users) { %> 
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <!-- display user profile picture if it exists -->
            <% if (user.image && user.image.filename) { %>
                <img src="<%=user.image.url%>" alt="" class="rounded-circle">
           <% } else { %> 
            <img src="/images/avatar-placeholder.gif" alt="" class="rounded-circle">
            <% } %> 
           <a href="/users/<%=user.username%>"><%=user.username%></a>
        </div>
    </div>
    <% } %> 